*~
.ICEauthority
.Xauthority
.adobe
.bash_history
.bash_logout
.bash_profile*
.boto
.cache
.compiz
.dbus
.emacs.d/elpa/archives
.gdb_history
.gconf/
.gstreamer*
.ido.last
.indexer_files*
.ipython/
.irb_history
.kshrc
.lesshst
.local
.macromedia/
.mozilla/
.mysql_history
.npm/
.pip/
.psql_history*
.python-eggs/
.sqlite_history
.ssh
.vim/.netrwhist
.viminfo
.xmonad/xmonad-*
.xmonad/xmonad.0
.xmonad/xmonad.errors
.xmonad/xmonad.h
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession-errors*
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures
Public/
Sites/
Ubuntu One/
node_modules/
tmp/
vimwiki/
vimwiki_html/