*~
.bash_history
.bash_logout
.bash_profile*
.gdb_history
.ido.last
.indexer_files*
.ipython/
.irb_history
.kshrc
.lesshst
.mysql_history
.psql_history-*
.python-eggs/
.sqlite_history
.ssh
.vim/.netrwhist
.viminfo
.xmonad/xmonad-*
.xmonad/xmonad.hi
.xmonad/xmonad.0
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures
Public/
Sites/
Ubuntu One/
node_modules/
tmp/
vimwiki/
vimwiki_html/