*~
*.elc
.CFUserTextEncoding
.DS_Store
.ICEauthority
.Private
.Trash/
.Xauthority
.adobe
.aws
.bash_history
.bash_logout
.bash_profile*
.boto
.cabal
.cache
.compiz
.cups/
.dbus
.dmrc
.docker/
.ecryptfs
.emacs.d/.python-environments
.emacs.d/ac-comphist.dat
.emacs.d/bookmarks
.emacs.d/elpa/archives
.emacs.d/eshell/history
.emacs.d/local.el
.emacs.d/org-roam.db
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/transient/
.esd_auth
.gconf/
.gdb_history
.gem
.ghc
.gimp-2.8/
.gnome/
.gnupg
.gstreamer*
.histfile
.ido.last
.indexer_files*
.ipython/
.irb_history
.jupyter/
.keras/
.kshrc
.lesshst
.local
.localrc
.macromedia/
.mozilla/
.mysql_history
.npm/
.nv/
.nvm/
.password-store/
.pgpass
.pip/
.pki/
.psql_history*
.pulse/
.python-eggs/
.python_history
.sqlite_history
.ssh
.sudo_as_admin_successful
.thumbnails/
.todos.org
.vagrant.d/
.vim/.netrwhist
.viminfo
.vimperator
.wireshark
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.0
.xmonad/xmonad.errors
.xmonad/xmonad.h
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsel.log
.xsession-errors*
.z
.zcompdump*
.zoom/
.zsh-update
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures
Public/
Sites/
Ubuntu One/
VirtualBox VMs/
node_modules/
org-roam/
tmp/
vimwiki/
vimwiki_html/ 