ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}="04d9", ATTR{idProduct}="0024", TEST=="power/control", ATTR{power/control}="on"