Code/
GIMP/
JetBrains/
Microsoft/
QtProject.conf
Slack/
VirtualBox/
azuredatastudio/
configstore/
dconf/
dleyna-renderer-service.conf
dleyna-server-service.conf
enchant/
gconf/
gedit/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
ibus/
nautilus/
pacmixer/
pavucontrol.ini
pipewire/
pulse/
spotify/
user-dirs.dirs
user-dirs.locale
vlc/
wireshark/
zoomus.conf